#containerMap{
    width: 100%;
    height: 100%;
}

.Switch_p{
    color: white;
    margin-bottom: 0;
}
#Switch_Map3D,#Switch_MapBase{
    width: auto;
    height: auto; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
 
 
}